:root {
  --color-1: #003F48;
  --color-2: #009EB7;
  --color-3: #F5F5F5;
  --color-4: #E8E8E8;
  --font-size: 16;
  --rem: 1 / var(--font-size) * 1rem;
}

* {box-sizing: border-box; margin: 0; padding: 0;}
html, body {overflow-x: hidden;}
html {font-size: 16px; scroll-behavior: smooth;}
body {background-color: #fff; color: #000;}
a {cursor: pointer; text-decoration: none;}
button {cursor: pointer;}
h1, h2, h3, h4, h5, h6, p, ul, ol {margin-bottom: 1rem;}
iframe, img, svg, video {max-width: 100%;}
p:last-child, ul:last-child, ol:last-child {margin-bottom: 0;}

.button {min-width: 220px; min-height: 50px;}
