.footer-cta-box {
  background-image: linear-gradient(134.48deg, rgba(56, 124, 43, 0.95) -11.35%, rgba(108, 179, 63, 0.95) 71.9%);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;

  .button {
    margin-bottom: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;

    .button {
      margin-bottom: 0;
      margin-left: 20px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.footer-cta-title {
  font-family: $font-heading;
  font-size: rem(24);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
  @media (min-width: $breakpoint-tablet) {
    font-size: rem(35);
  }
  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 0;
  }
}
