.container {
  margin: 0 auto;
  padding: 0 $site-margin;
  max-width: $site-width;
  width: 100%;

  @media (min-width: $breakpoint-site-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.container--small {
  max-width: $site-width-small;
}

.columns {
  margin-bottom: 50px;

  @media (min-width: $breakpoint-ipad) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.columns-3 {
  margin-bottom: 50px;

  @media (min-width: $breakpoint-ipad-landscape) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.columns--reverse {
  @media (min-width: $breakpoint-ipad) {
    flex-direction: row-reverse;
  }
}

.column-30 {
  @media (min-width: $breakpoint-ipad-landscape) {
    flex: 0 0 calc(33% - 20px);
    width: calc(33% - 20px);
  }
}

.column-50 {
  @media (min-width: $breakpoint-ipad) {
    flex: 0 0 calc(50% - 20px);
    width: calc(50% - 20px);
  }

  h3 {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 0;
  }
}
