// Compile with command line:
// sass src/css/clubt.scss:docs/clubt/css/clubt.css

// Use --watch to watch
// sass src/css/clubt.scss:docs/clubt/css/clubt.css --watch

// I know I could use something like Gulp.
// I just don't want to have a node_module folder.

// ------------------------------------------------------------------



// Default values, unless set in CMS
$site-banner-background-color: transparent;
$site-banner-background-image: 'no';
$site-banner-background-image-mobile: 'no';
$site-banner-button-ghost: 'no';
$site-banner-copy-color: $color-copy;
$site-banner-full-width: 'yes';
$site-banner-new-tab: 'no';
$site-banner-overlay-opacity: .5;
$site-banner-video: 'no';

$site-banner-content-alignment: 'left';
// h-text-center DONE
// h-text-right DONE

$site-banner-content-alignment-mobile: 'left';
// h-text-center-mobile
// h-text-right-mobile

$site-banner-content-position: 'left';
// site-banner--content-position-center
// site-banner--content-position-right

$site-banner-overlap: 'no';
// site-banner--overlap



$site-banner-height: 628px;


.site-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-3;
  display: flex;
  align-items: center;
  font-size: rem(17);
  position: relative;
  min-height: $site-banner-height;
}

.site-banner__body {
  line-height: 1.33;
  padding: 20px;
  position: relative;
  z-index: 1;
  max-width: 702px;

  @media (min-width: $breakpoint-ipad) {
    padding: 50px;
  }

  &:before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.site-banner__button {
  font-size: rem(16);
}

.site-banner__delimiter {
  padding-top: 15px;
  padding-bottom: 15px;
  path {
    stroke: currentColor;
  }
}

.site-banner__prefix {
  font-size: rem(22);
}

.site-banner__text {
  line-height: 2;
  margin-bottom: 30px;
}

.site-banner__title {
  color: $color-2;
  font-family: $font-heading;
  font-size: rem(45);
  text-transform: uppercase;
}



.site-banner--content-position-center {
  .site-banner__body {
    margin-left: auto;
    margin-right: auto;
  }
}



.site-banner--content-position-right {
  .site-banner__body {
    margin-left: auto;
    margin-right: 0;
  }
}



.site-banner--overlay {
  @extend .h-overlay;
  color: #fff;

  .site-banner__body {
    &:before {
      background-color: transparent;
    }
  }

  .site-banner__title {
    color: currentColor;
  }
}



.site-banner--overlap,
.site-banner--overlap.site-banner--overlay {
  background-position: center top;
  background-size: auto 300px;
  color: $color-3;
  align-items: flex-start;
  padding-top: 200px;

  @media (min-width: $breakpoint-ipad) {
    background-position: 250px center;
    background-size: auto 100%;
    align-items: center;
    padding-top: 0;
  }

  @media (min-width: $breakpoint-ipad-landscape) {
    background-position: 300px center;
  }

  @media (min-width: $breakpoint-air) {
    background-position: 100% center;
  }

  &:before {
    display: none;
  }

  .site-banner__body {
    padding: 30px;

    &:before {
      background-color: $color-7;
    }
  }

  .site-banner__prefix {
    font-size: rem(17);
  }

  .site-banner__title {
    color: $color-2;
    font-size: rem(35);
  }
}



.site-banner--overlap.site-banner--content-position-center {
  @media (min-width: $breakpoint-ipad) {
    background-position: center;
  }

  &.site-banner--solid-background.container {
    &:after {
      width: 100%;
    }
  }
}



.site-banner--overlap.site-banner--content-position-right {
  @media (min-width: $breakpoint-ipad) {
    background-position: calc(100% - 250px) center;
  }

  @media (min-width: $breakpoint-ipad-landscape) {
    background-position: calc(100% - 300px) center;
  }

  @media (min-width: $breakpoint-air) {
    background-position: 0 center;
  }
}



.site-banner--solid-background {
  background-size: calc(100% - 40px) auto;
  padding-bottom: 36px;
  min-height: 0;

  @media (min-width: $breakpoint-ipad) {
    background-size: auto calc(100% - 88px); // Faking padding top and bottom
    padding-bottom: 0;
    min-height: $site-banner-height;
  }

  &:after {
    background-color: $color-7;
    content: '';
    position: absolute;
    top: 115px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    @media (min-width: $breakpoint-ipad) {
      top: 0;
      width: 70%;
    }
  }

  .site-banner__body {
    @media (max-width: $breakpoint-ipad - 1) {
      margin-left: 20px;
      margin-right: 20px;
    }

    &:before {
      background-color: #fff;
    }
  }
}



.site-banner--solid-background.site-banner--content-position-center {
  &:after {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $breakpoint-ipad) {}
}



.site-banner--solid-background.site-banner--content-position-right {
  &:after {
    left: auto;
    right: 0;
  }
}



.site-banner.container {
  padding-left: 0;
  padding-right: 0;
  max-width: $site-width-banner;
}
