// Compile with command line:
// sass src/css/clubt.scss:docs/clubt/css/clubt.css

// Use --watch to watch
// sass src/css/clubt.scss:docs/clubt/css/clubt.css --watch

// I know I could use something like Gulp.
// I just don't want to have a node_module folder.

// ------------------------------------------------------------------

.banner-carousel {
  margin-left: auto;
  margin-right: auto;
  max-width: $site-width-banner;

  button.owl-dot {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    overflow: hidden;

    &:hover,
    &.active {
      border: 2px solid $color-2;

      &:before {
        display: none;
      }
    }

    &:before {
      background-color: $color-2;
      border-radius: 50%;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
    }
  }

  .owl-dots {
    text-align: center;
  }

  .owl-nav {
    button.owl-prev,
    button.owl-next {
      font-size: 4em;
      font-weight: bold;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    button.owl-prev {
      left: -40px;
    }

    button.owl-next {
      right: -40px;
    }
  }

  .site-banner {
    background-position: center 142px;
    background-size: calc(100% - 148px) auto;
    align-items: flex-start;
    padding-top: 59px;
    text-align: center;

    &:after {
      background-color: $color-7;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 500px;
    }
  }

  .site-banner__body {
    margin-left: auto;
    margin-right: auto;
  }

  .site-banner__text,
  .site-banner__video {
    display: none;
  }
}
