// SITE SETTINGS
// Used to calculate other variables
$site-margin: 20px;
$site-width: 1220px;
$site-width-small: 1010px;


// BREAKPOINTS
$breakpoint-android: 360px;
$breakpoint-iphone: 375px;
$breakpoint-iphone-plus: 414px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 600px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 991px;
$breakpoint-ipad-landscape: 1024px;
$breakpoint-large: 1200px;
$breakpoint-air: 1400px;
$breakpoint-big: 1600px;
$breakpoint-hd: 1900px;

$breakpoint-navigation: $breakpoint-air;
$breakpoint-site-width: $site-width + 2 * $site-margin;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Assistant:wght@300;400;500;600;700;800&display=swap');
$font-1: 'Abril Fatface', cursive;
$font-2: 'Assistant', sans-serif;

$font-default: $font-2;
$font-family: $font-2;
$font-heading: $font-1;
$font-line-height: 1.2;
$font-size: 16px;
$font-weight: 400;
$font-semibold: 600;
$font-bold: bold;


// COLORS
// Basic colours
$color-1: #127ec2;
$color-2: #231F20;
$color-3: #4F4C4D;
$color-4: #1A1401;
$color-5: #D9EFEC;

// Brands
$color-facebook: #3b5998;
$color-instagram: #c13584;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-spotify: #1db954;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;

// Specific colours
$color-active: $color-1;
$color-banner-background: $color-2;
$color-banner-copy: #fff;
$color-footer-background: $color-2;
$color-footer-box: #2B2B2C;
$color-footer-font: #fff;
$color-hover: $color-1;
$color-link: $color-1;

$color-background: $color-2;
$color-button: $color-2;
$color-button-copy: #fff;
$color-copy: $color-3;
$color-debug: #dedede;
$color-error: red;
$color-password-background-medium: #f3ef99;
$color-password-background-strong: #a5e9a7;
$color-password-background-weak: #ed9797;
$color-price-old: #898989;
$color-product-available: #a5e9a7;
$color-product-unavailable: #ed9797;

// OTHER VARIABLES
$layer-header: 100;
