.button {
    background-color: $color-3;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    padding: 8px 20px;
    text-decoration: none;
}

// MULTI-LINE HIGHLIGHT
// https://css-tricks.com/multi-line-padded-text/
.highlight-text,
.highlight-text-2,
.highlight-text-3 {
    background-color: $color-13;
    box-shadow: 30px 0 0 $color-13, -30px 0 0 $color-13;
    color: #fff;
    display: inline;
}
.highlight-text-2 {
    background-color: $color-1;
    box-shadow: 30px 0 0 $color-1, -30px 0 0 $color-1;
}
.highlight-text-3 {
    background-color: $color-3;
    box-shadow: 30px 0 0 $color-3, -30px 0 0 $color-3;
}

.typography {
    h4 {
        font-size: rem(26);
    }

    ol,
    ul {
        list-style: none;
    }
    li {
        padding-left: 15px;
        position: relative;
        &:before {
            color: $color-2;
            content: '•';
            position: absolute;
            top: 0;
            left: 2px;
        }
    }

    p {
        + h2 {
            margin-top: 30px;
        }
    }
}

.mktoForm {
    font-size: 1em !important;
    width: 100% !important;
    @media (max-width: 480px) {
        padding: 0 !important;
    }

    .mktoFormRow {
        margin-left: -1em !important;
        margin-right: -1em !important;

        .mktoFormCol {
            position: relative;
            width: 100%;
            padding: 0 1em;
            margin: 0 0 1em !important;

            .mktoGutter,
            .mktoOffset {
                display: none;
            }

            .mktoFieldWrap {
                width: 100%;
                background: none;
                font-size: rem(14) !important;
            }

            .mktoLabel {
                width: auto !important;
                color: $gray-dark;
            }

            .mktoAsterix {
                position: absolute;
                top: 1.1em;
                right: 1.75em;
                width: auto !important;
                text-align: left;
                line-height: normal;
                padding: 0;
                display: none;
            }

            .mktoCheckboxList,
            .mktoRadioList {
                width: auto !important;
                float: left;
                padding: 0 0.75em;
                margin-top: 0.3em;
            }

            input,
            textarea,
            select {
                @include sans-serif($regular);
                font-size: 1em;
                width: 100% !important;
                height: 46px !important;
                color: $gray-dark;
                line-height: 1.1;
                background-color: transparent;
                box-shadow: none;
                border: 1px solid $gray-light !important;
                padding: 1em 1em 0.8em !important;
                outline: none !important;
                box-sizing: border-box;
            }

            select {
                @include sans-serif($regular);
                font-size: 1em;
                line-height: 1.1;
                width: 100% !important;
                height: auto;
                color: $gray-dark;
                box-shadow: none;
                border: 1px solid $gray-light;
                border-radius: 0;
                padding: 1em 1em 0.8em !important;
                outline: none !important;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-position: 96.5% 50%;
                background-repeat: no-repeat;
                background-image: url('../images/arrow-down-purple.svg');
                background-size: 12px 12px;
                box-sizing: border-box;
                @media (max-width: $break-small) {
                    background-position: 95.5% 50%;
                    background-size: 8px 8px;
                }

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            //select
        }
        //mktoFormCol
    }

    .mktoButtonWrap {
        margin: 0 0 0 -20px !important;

        .mktoButton {
            @include sans-serif($bold);
            font-size: 1em;
            display: inline-block;
            color: white;
            padding: 13px 22px 11px;
            border: 1px solid $pink;
            border-radius: 0;
            cursor: pointer !important;
            transition: all 0.25s ease;
            text-transform: none;
            outline: none;
            text-decoration: none;
            background: $pink;
            min-height: 0;
            letter-spacing: normal;

            &:focus,
            &:hover {
                color: $pink;
                background: none;
            }
        }
    }
}
//mktoForm

.mktoForm.mktoLayoutAbove .mktoLabel {
    margin-bottom: 0.5rem !important;
}

.mktoForm.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
    right: 12px;
    top: 8px;
}

form[data-mkto-id] {
    .mktoFormError {
        margin-top: 1.5rem;

        p {
            display: block;
            margin: 0 0 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
