.blog-card {
  --card-spacing-padding: 20px; --card-spacing-gap: 20px;
  color: #fff; display: flex; flex-direction: column; gap: var(--card-spacing-gap);
  align-items: flex-start; justify-content: flex-end;
  padding-top: 100px; position: relative;
}
.blog-card::before, .blog-card__image {display: block; object-fit: cover; position: absolute; top: 0; left: 0; z-index: -2; width: 100%; height: 100%;}
.blog-card::before {background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0)); content: ''; z-index: -1;}
.blog-card a, .blog-card .button {color: inherit;}
.blog-card .button {border-color: currentColor;}
.blog-card__summary, .blog-card__title {padding: 0 var(--card-spacing-padding);}
.blog-card__summary {font-size: calc(14 * var(--rem))}
.blog-card__title {font-size: 2em; font-weight: 700; line-height: 1.2; text-transform: uppercase;}
.blog-card__title + .blog-card__summary {padding-top: 0;}
.blog-grid {padding-top: 50px; padding-bottom: 50px;}
@media (min-width: 1024px) {
  .blog-card .button {margin: 0 var(--card-spacing-padding) var(--card-spacing-padding)}
}
@media (min-width: 1300px) {
  .blog-card {--card-spacing-padding: 40px;}
}
@media (max-width: 1023px) {
  .blog-card .button {border-left: 0; border-right: 0; border-bottom: 0; border-color: currentColor; border-radius: 0; width: 100%;}
}
