.sr-only,
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-only.focusable:active, .sr-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.sr-only-undo,
.visually-hidden-undo,
.visuallyhidden-undo {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  margin: 0;
  padding: 0;
  position: static;
  white-space: normal;
  width: auto;
  height: auto;
  overflow: visible;
}
.sr-only-undo.focusable:active, .sr-only-undo.focusable:focus,
.visually-hidden-undo.focusable:active,
.visually-hidden-undo.focusable:focus,
.visuallyhidden-undo.focusable:active,
.visuallyhidden-undo.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #1f1f1f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 1rem;
}

iframe, img, video {
  max-width: 100%;
}

p, ul, ol {
  margin-bottom: 1em;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1220px;
  width: 100%;
}

@media (min-width: 1024px) {
  .container--10 {
    max-width: 1000px;
  }
}

.container--small {
  max-width: 1010px;
}
@media (min-width: 1050px) {
  .container--small {
    padding: 0;
  }
}

[data-chart-value] {
  background-color: #ddd;
  overflow: visible;
  width: 100px;
}

.chart-box {
  margin-bottom: 200px;
  position: relative;
  width: 100%;
  height: 500px;
}

.chart-data {
  position: relative;
}

.chart-data-value {
  white-space: nowrap;
}

.chart-graphic {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}
.chart-graphic:before, .chart-graphic:after {
  background-color: #aaa;
  content: "";
  display: block;
  position: absolute;
}
.chart-graphic:before {
  bottom: 0;
  left: 20px;
  width: 1px;
  height: 100%;
}
.chart-graphic:after {
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 1px;
}

[data-chart-type=donut],
[data-chart-type=doughnut] {
  --donut-size: 150px;
  --donut-thickness: 50px;
  --label-font-size: calc(12 / 16 * 1rem);
  height: var(--donut-size);
}
@media (min-width: 768px) {
  [data-chart-type=donut],
[data-chart-type=doughnut] {
    --donut-size: 300px;
    --donut-thickness: 100px;
  }
}
[data-chart-type=donut] .chart-data,
[data-chart-type=doughnut] .chart-data {
  background-color: transparent;
  position: absolute;
  width: 200px;
  z-index: 1;
}
[data-chart-type=donut] .chart-data:nth-child(1),
[data-chart-type=doughnut] .chart-data:nth-child(1) {
  top: 50%;
  left: 100%;
  margin-left: 20px;
}
[data-chart-type=donut] .chart-data:nth-child(2),
[data-chart-type=doughnut] .chart-data:nth-child(2) {
  top: 70%;
  right: 100%;
  text-align: right;
}
[data-chart-type=donut] .chart-data:nth-child(3),
[data-chart-type=doughnut] .chart-data:nth-child(3) {
  top: 20%;
  right: 100%;
  margin-right: 20px;
  text-align: right;
}
[data-chart-type=donut] .chart-data:nth-child(4),
[data-chart-type=doughnut] .chart-data:nth-child(4) {
  bottom: 95%;
  right: 80%;
  text-align: right;
}
[data-chart-type=donut] .chart-data:nth-child(5),
[data-chart-type=doughnut] .chart-data:nth-child(5) {
  bottom: 100%;
  left: 65%;
  margin-left: -40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  [data-chart-type=donut] .chart-data:nth-child(5),
[data-chart-type=doughnut] .chart-data:nth-child(5) {
    left: 55%;
  }
}
[data-chart-type=donut] .chart-data-label,
[data-chart-type=doughnut] .chart-data-label {
  font-size: var(--label-font-size);
}
[data-chart-type=donut] .chart-graphic,
[data-chart-type=doughnut] .chart-graphic {
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--donut-size);
  height: var(--donut-size);
}
[data-chart-type=donut] .chart-graphic:after,
[data-chart-type=doughnut] .chart-graphic:after {
  display: none;
}
[data-chart-type=donut] .chart-graphic:before,
[data-chart-type=doughnut] .chart-graphic:before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--donut-thickness));
  height: calc(100% - var(--donut-thickness));
  z-index: 1;
}

[data-chart-type=donut][data-chart-responsive=true] .chart-vertical-labels-mobile,
[data-chart-type=pie][data-chart-responsive=true] .chart-vertical-labels-mobile {
  padding: 0 20px;
  padding-top: calc(50px + var(--pie-size));
  transform: translateX(calc(.5 * var(--pie-size) - 50%));
  width: 100vw;
}

[data-chart-type=horizontal] {
  --label-font-size: .75em;
  --label-width: 100px;
  height: auto;
  padding-left: var(--label-width);
}
@media (min-width: 480px) {
  [data-chart-type=horizontal] {
    --label-width: 160px;
  }
}
[data-chart-type=horizontal] [data-chart-value] {
  height: 50px;
}
[data-chart-type=horizontal] .chart-data {
  --bar-spacing: 40px;
  --data-chart-value: 0;
  margin: var(--bar-spacing) 0;
  width: calc(var(--data-chart-value) * 1%);
}
@media (min-width: 480px) {
  [data-chart-type=horizontal] .chart-data {
    --bar-spacing: 20px;
  }
}
[data-chart-type=horizontal] .chart-data-label,
[data-chart-type=horizontal] .chart-data-value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
[data-chart-type=horizontal] .chart-data-label {
  font-size: var(--label-font-size);
  right: calc(100% + 20px);
  text-align: right;
  width: var(--label-width);
}
[data-chart-type=horizontal] .chart-data-value {
  font-weight: 900;
  left: calc(100% + 10px);
}
[data-chart-type=horizontal] .chart-graphic {
  flex-direction: column;
  align-items: flex-start;
}

[data-chart-responsive=true] .chart-data-label span {
  display: block;
}
@media (min-width: 600px) {
  [data-chart-responsive=true] .chart-data-label span {
    display: none;
  }
}
[data-chart-responsive=true] .chart-data-label span + span {
  display: none;
}
@media (min-width: 600px) {
  [data-chart-responsive=true] .chart-data-label span + span {
    display: block;
  }
}
[data-chart-responsive=true] .chart-vertical-labels-mobile {
  --chart-vertical-labels-width: 50px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  [data-chart-responsive=true] .chart-vertical-labels-mobile {
    display: none;
  }
}
[data-chart-responsive=true] .chart-vertical-labels-mobile__column,
[data-chart-responsive=true] .chart-vertical-labels-mobile__label {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1em;
}
[data-chart-responsive=true] .chart-vertical-labels-mobile__column {
  width: var(--chart-vertical-labels-width);
}
[data-chart-responsive=true] .chart-vertical-labels-mobile__label {
  width: calc(100% - var(--chart-vertical-labels-width));
}

[data-chart-type=pie] {
  --label-font-size: calc(12 / 16 * 1rem);
  --pie-size: 150px;
  margin-left: auto;
  margin-right: auto;
  width: var(--pie-size);
  height: var(--pie-size);
}
@media (min-width: 768px) {
  [data-chart-type=pie] {
    --pie-size: 300px;
    margin-bottom: 200px;
  }
}
[data-chart-type=pie] .chart-data {
  background-color: transparent;
  position: absolute;
  width: 200px;
}
[data-chart-type=pie] .chart-data:nth-child(1) {
  top: 50%;
  left: 100%;
  margin-left: 20px;
}
[data-chart-type=pie] .chart-data:nth-child(2) {
  top: 70%;
  right: 100%;
  text-align: right;
}
[data-chart-type=pie] .chart-data:nth-child(3) {
  top: 20%;
  right: 100%;
  margin-right: 20px;
  text-align: right;
}
[data-chart-type=pie] .chart-data:nth-child(4) {
  bottom: 95%;
  right: 80%;
  text-align: right;
}
[data-chart-type=pie] .chart-data:nth-child(5) {
  bottom: 100%;
  left: 65%;
  margin-left: -40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  [data-chart-type=pie] .chart-data:nth-child(5) {
    left: 55%;
  }
}
[data-chart-type=pie] .chart-data-label {
  font-size: var(--label-font-size);
}
[data-chart-type=pie] .chart-graphic {
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--pie-size);
  height: var(--pie-size);
}
[data-chart-type=pie] .chart-graphic:before, [data-chart-type=pie] .chart-graphic:after {
  display: none;
}

[data-chart-type=vertical] {
  --bar-width: 20px;
  --label-font-size: .75em;
  --label-width: 100px;
  height: auto;
}
@media (min-width: 600px) {
  [data-chart-type=vertical] {
    --bar-width: 65px;
  }
}
[data-chart-type=vertical] .chart-data {
  --data-chart-value: 0;
  width: var(--bar-width);
  height: calc(var(--data-chart-value) * 1%);
}
[data-chart-type=vertical] .chart-data-label,
[data-chart-type=vertical] .chart-data-value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
[data-chart-type=vertical] .chart-data-label {
  font-size: var(--label-font-size);
  top: calc(100% + 20px);
  text-align: center;
  width: var(--label-width);
}
[data-chart-type=vertical] .chart-data-value {
  font-weight: 900;
  bottom: calc(100% + 10px);
}
[data-chart-type=vertical] .chart-graphic {
  height: 300px;
}

/*# sourceMappingURL=charts.css.map */
