@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtrhnEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQttRnEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtjhgEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v6/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtmZgEGE.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #231F20;
}
a:visited,
a:hover {
  color: #231F20;
}
address {
  font-style: normal;
}
body {
  color: #4F4C4D;
}
button {
  background-color: #231F20;
  border: 1px solid #231F20;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 60px;
  text-decoration: none;
  transition-duration: 0.3s;
}
button:hover {
  background-color: #231F20;
  border-color: #231F20;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}
fieldset {
  border: 0;
}
img,
video,
iframe {
  max-width: 100%;
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
}
input[type="text"].mage-error,
input[type="password"].mage-error,
input[type="url"].mage-error,
input[type="tel"].mage-error,
input[type="search"].mage-error,
input[type="number"].mage-error,
input[type="datetime"].mage-error,
input[type="email"].mage-error {
  border-color: red;
}
input[type="text"].mage-error + .mage-error,
input[type="password"].mage-error + .mage-error,
input[type="url"].mage-error + .mage-error,
input[type="tel"].mage-error + .mage-error,
input[type="search"].mage-error + .mage-error,
input[type="number"].mage-error + .mage-error,
input[type="datetime"].mage-error + .mage-error,
input[type="email"].mage-error + .mage-error {
  color: red;
  font-size: 0.8rem;
}
input[type="checkbox"],
input[type="radio"] {
  margin-top: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
ol,
ul,
p {
  margin-bottom: 1em;
}
ol:last-child,
ul:last-child,
p:last-child {
  margin-bottom: 0;
}
select {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMTI3ZWMyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiB2aWV3Qm94PSIwIDAgMjA0OCAyMDQ4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNTIzIDg2NHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTQ2Ni00NjZxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDM5MyAzOTMgMzkzLTM5M3ExMC0xMCAyMy0xMHQyMyAxMGw1MCA1MHExMCAxMCAxMCAyM3oiLz48L3N2Zz4=");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 5px 25px 5px 10px;
}
table {
  width: 100%;
}
td,
th {
  font-size: 0.875rem;
  padding: 10px;
}
th {
  text-align: left;
  vertical-align: top;
}
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
  font-family: 'Assistant', sans-serif;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  width: 100%;
}
@media (min-width: calc(1220px + 2 * 20px)) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.container--small {
  max-width: 800px;
}
.layout-2-columns {
  margin-top: 80px;
}
@media (min-width: 991px) {
  .layout-2-columns {
    display: flex;
  }
}
.layout-2-columns .site-sidebar {
  font-size: 0.8125rem;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media (min-width: 991px) {
  .layout-2-columns .site-sidebar {
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 0;
    width: 275px;
  }
}
@media (min-width: 1260px) {
  .layout-2-columns .site-sidebar {
    margin-right: 100px;
  }
}
.page-layout-2columns-left .columns {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: calc(1220px + 2 * 20px)) {
  .page-layout-2columns-left .columns {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .page-layout-2columns-left .columns {
    flex-direction: column;
  }
}
.page-layout-2columns-left .column.main {
  flex-grow: 1;
  padding: 0;
  float: none;
  width: auto;
}
@media (min-width: 992px) {
}
.albert-amount,
.albert-amount-frequency {
  color: #231F20;
  display: inline-block;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  vertical-align: bottom;
}
.albert-amount {
  font-size: 2.8125rem;
  letter-spacing: 3px;
}
.albert-amount-frequency {
  font-size: 1.375rem;
}
.albert-box {
  background-color: #D9EFEC;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 100px;
  padding: 60px 50px;
  position: relative;
  width: 275px;
  height: 250px;
}
@media (min-width: 1200px) {
  .albert-box {
    margin-bottom: 50px;
  }
}
.albert-box:first-child {
  margin-left: 0;
}
.albert-box:last-child {
  margin-right: 0;
}
.albert-box .button {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.albert-box__details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 46px;
}
.albert-box__label {
  background-color: #231F20;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 6px 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.albert-box__label svg {
  margin-right: 10px;
}
.albert-group {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .albert-group {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
.albert-group:before {
  background-color: #D7D6D7;
  content: '';
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
}
@media (min-width: 768px) {
  .albert-group:before {
    height: 730px;
  }
}
@media (min-width: 1200px) {
  .albert-group:before {
    display: block;
    height: 309px;
  }
}
.albert-group .albert-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 560px;
  width: 100%;
}
.albert-group .albert-group:before {
  display: none;
}
p + .albert-group {
  margin-top: 40px;
}
.albert-group__title {
  color: #231F20;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 40px;
  width: 100%;
}
.albert-group__title + .albert-box {
  margin-left: 0;
}
a.action.primary,
.action.primary,
.action-primary,
.action.tocart.primary,
.button {
  background-color: #231F20;
  border: 1px solid #231F20;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 60px;
  text-decoration: none;
  transition-duration: 0.3s;
}
a.action.primary:hover,
.action.primary:hover,
.action-primary:hover,
.action.tocart.primary:hover,
.button:hover {
  background-color: #231F20;
  border-color: #231F20;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}
.actions-toolbar .primary .action {
  margin-right: 30px;
}
.actions-toolbar .secondary {
  color: #231F20;
  font-weight: 700;
}
.actions-toolbar .secondary a {
  color: inherit;
}
.button--ghost {
  background-color: transparent;
  border: 1px solid #231F20;
  color: #231F20;
}
.button--ghost:hover {
  background-color: #231F20;
  color: #fff;
  opacity: 1;
}
.action {
  cursor: pointer;
}
.page-title-wrapper {
  display: none;
}
.page-title {
  font-size: 2.625rem;
  font-weight: 400;
  line-height: 1.2;
}
.page-title-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: calc(1220px + 2 * 20px)) {
  .page-title-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.section-title {
  color: #000;
  font-family: 'Abril Fatface', serif;
  font-size: 2.8125rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}
.section-title + .four-waves {
  margin-top: 10px;
  margin-bottom: 25px;
}
.site-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #4F4C4D;
  display: flex;
  align-items: center;
  font-size: 1.0625rem;
  margin-bottom: 100px;
  position: relative;
  min-height: 628px;
  overflow: hidden;
}
.site-banner__body {
  line-height: 1.33;
  padding: 20px;
  position: relative;
  z-index: 1;
  max-width: 702px;
}
@media (min-width: 1024px) {
  .site-banner__body {
    padding: 50px;
  }
}
.site-banner__body:before {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.site-banner__button {
  font-size: 1rem;
}
.site-banner__button:hover {
  text-decoration: none;
}
.site-banner__delimiter {
  padding-top: 15px;
  padding-bottom: 15px;
}
.site-banner__delimiter path {
  stroke: currentColor;
}
.site-banner__prefix {
  font-size: 1.375rem;
}
.site-banner__text {
  line-height: 2;
  margin-bottom: 30px;
}
.site-banner__title {
  color: #231F20;
  font-family: 'Abril Fatface', serif;
  font-size: 2.1875rem;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .site-banner__title {
    font-size: 2.8125rem;
    letter-spacing: 3px;
  }
}
.site-banner__video {
  display: none;
}
@media (min-width: 768px) {
  .site-banner__video {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
  }
}
.site-banner__video:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  padding-bottom: 56.25%;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 0;
}
.site-banner--overlay .site-banner__video:before {
  background-color: rgba(0, 0, 0, 0.5);
}
.site-banner__video iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.site-banner--content-position-center .site-banner__body {
  margin-left: auto;
  margin-right: auto;
}
.site-banner--content-position-right .site-banner__body {
  margin-left: auto;
  margin-right: 0;
}
.site-banner--cta {
  min-height: 435px;
}
@media (min-width: 1024px) {
  .site-banner--cta.site-banner--content-position-right .site-banner__body {
    margin-left: auto;
    margin-right: 76px;
  }
}
@media (max-width: 768px) {
  .site-banner--cta.site-banner--solid-background {
    background-size: 100% auto;
    padding-bottom: 0;
  }
  .site-banner--cta.site-banner--solid-background:after {
    display: none;
  }
  .site-banner--cta.site-banner--solid-background .site-banner__body:before {
    background-color: #F6F5F3;
  }
}
.site-banner--cta .site-banner__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 484px;
}
@media (min-width: 768px) {
  .site-banner--cta .site-banner__body {
    min-height: 261px;
  }
}
@media (min-width: 1024px) {
  .site-banner--cta .site-banner__body {
    margin-left: 76px;
  }
  .banner-group .site-banner--cta .site-banner__body {
    margin-left: 0;
    margin-right: 0;
  }
}
.site-banner--overlay {
  position: relative;
  color: #fff;
}
.site-banner--overlay::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-banner--overlay > * {
  position: relative;
  z-index: 1;
}
.site-banner--overlay:not(.site-banner--content-position-center) .site-banner__button,
.site-banner--overlay:not(.site-banner--overlap) .site-banner__button {
  background-color: #fff;
  border-color: #fff;
  color: #4F4C4D;
}
.site-banner--overlay:not(.site-banner--content-position-center) .site-banner__button:hover,
.site-banner--overlay:not(.site-banner--overlap) .site-banner__button:hover {
  background-color: #231F20;
  border-color: #231F20;
  color: #fff;
}
.site-banner--overlay:not(.site-banner--content-position-center) .button--ghost,
.site-banner--overlay:not(.site-banner--overlap) .button--ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.site-banner--overlay:not(.site-banner--content-position-center) .button--ghost:hover,
.site-banner--overlay:not(.site-banner--overlap) .button--ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #4F4C4D;
}
.site-banner--overlay > .site-banner__video {
  position: absolute;
}
.site-banner--overlay .site-banner__body,
.site-banner--overlay .site-banner__prefix,
.site-banner--overlay .site-banner__title {
  color: #fff;
}
.site-banner--overlay .site-banner__body:before {
  background-color: transparent;
}
.site-banner--overlay .site-banner__title {
  color: currentColor;
}
.site-banner--overlap,
.site-banner--overlap.site-banner--overlay {
  background-position: center top;
  background-size: auto 300px;
  color: #4F4C4D;
  align-items: flex-start;
  padding-top: 200px;
}
@media (min-width: 768px) {
  .site-banner--overlap,
  .site-banner--overlap.site-banner--overlay {
    background-position: 250px center;
    background-size: auto 100%;
    align-items: center;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .site-banner--overlap,
  .site-banner--overlap.site-banner--overlay {
    background-position: 300px center;
  }
}
@media (min-width: 1400px) {
  .site-banner--overlap,
  .site-banner--overlap.site-banner--overlay {
    background-position: 100% center;
  }
}
.site-banner--overlap:before,
.site-banner--overlap.site-banner--overlay:before {
  display: none;
}
.site-banner--overlap .button,
.site-banner--overlap.site-banner--overlay .button {
  background-color: #231F20;
  border-color: #231F20;
  color: #fff;
}
.site-banner--overlap .button--ghost,
.site-banner--overlap.site-banner--overlay .button--ghost {
  background-color: transparent;
  border-color: #231F20;
  color: #231F20;
}
.site-banner--overlap .button--ghost:hover,
.site-banner--overlap.site-banner--overlay .button--ghost:hover {
  background-color: #231F20;
  color: #fff;
}
.site-banner--overlap .site-banner__body,
.site-banner--overlap.site-banner--overlay .site-banner__body {
  color: inherit;
  padding: 30px;
}
.site-banner--overlap .site-banner__body:before,
.site-banner--overlap.site-banner--overlay .site-banner__body:before {
  background-color: #F6F5F3;
  opacity: 1;
}
.site-banner--overlap .site-banner__prefix,
.site-banner--overlap.site-banner--overlay .site-banner__prefix {
  color: inherit;
  font-size: 1.0625rem;
}
.site-banner--overlap .site-banner__title,
.site-banner--overlap.site-banner--overlay .site-banner__title {
  color: #231F20;
  font-size: 2.1875rem;
}
.site-banner--overlap .site-banner__video,
.site-banner--overlap.site-banner--overlay .site-banner__video {
  left: 250px;
  width: calc(16 / 9 * 628px);
}
@media (min-width: 1024px) {
  .site-banner--overlap .site-banner__video,
  .site-banner--overlap.site-banner--overlay .site-banner__video {
    left: 300px;
  }
}
@media (min-width: 1400px) {
  .site-banner--overlap .site-banner__video,
  .site-banner--overlap.site-banner--overlay .site-banner__video {
    left: auto;
    right: 0;
  }
}
@media (min-width: 768px) {
  .site-banner--overlap.site-banner--content-position-center {
    background-position: center;
  }
}
.site-banner--overlap.site-banner--content-position-center.site-banner--solid-background.container:after {
  width: 100%;
}
.site-banner--overlap.site-banner--content-position-center .site-banner__video {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 250px) center;
  }
}
@media (min-width: 1024px) {
  .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 305px) center;
  }
}
@media (min-width: 1400px) {
  .site-banner--overlap.site-banner--content-position-right {
    background-position: 0 center;
  }
}
.site-banner--overlap.site-banner--content-position-right .site-banner__video {
  top: 0;
  left: 0;
  transform: none;
}
.site-banner--solid-background,
.site-banner--solid-background.site-banner--overlay {
  background-size: calc(100% - 40px) auto;
  padding-bottom: 36px;
  min-height: 0;
}
@media (min-width: 768px) {
  .site-banner--solid-background,
  .site-banner--solid-background.site-banner--overlay {
    background-size: auto calc(100% - 88px);
    padding-bottom: 0;
    min-height: 628px;
  }
}
.site-banner--solid-background:after,
.site-banner--solid-background.site-banner--overlay:after {
  background-color: #F6F5F3;
  content: '';
  position: absolute;
  top: 115px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
@media (min-width: 768px) {
  .site-banner--solid-background:after,
  .site-banner--solid-background.site-banner--overlay:after {
    top: 0;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .site-banner--solid-background .site-banner__body,
  .site-banner--solid-background.site-banner--overlay .site-banner__body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.site-banner--solid-background .site-banner__body:before,
.site-banner--solid-background.site-banner--overlay .site-banner__body:before {
  background-color: #fff;
  opacity: 1;
}
.site-banner--solid-background .site-banner__video,
.site-banner--solid-background.site-banner--overlay .site-banner__video {
  width: calc(16 / 9 * (628px - 88px));
}
.site-banner--solid-background.site-banner--content-position-center:after {
  left: 50%;
  transform: translateX(-50%);
}
.site-banner--solid-background.site-banner--content-position-center .site-banner__video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.site-banner--solid-background.site-banner--content-position-right:after {
  left: auto;
  right: 0;
}
.site-banner--solid-background.site-banner--content-position-right .site-banner__video {
  top: 50%;
  transform: translateY(-50%);
}
.site-banner.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1530px;
}
.site-banner.container.site-banner--cta {
  max-width: 1220px;
}
.banner-carousel {
  margin: 100px auto;
  max-width: 1530px;
}
@media (min-width: 768px) {
  .banner-carousel {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.banner-carousel button.owl-dot {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.banner-carousel button.owl-dot:hover,
.banner-carousel button.owl-dot.active {
  border: 2px solid #231F20;
}
.banner-carousel button.owl-dot:hover:before,
.banner-carousel button.owl-dot.active:before {
  display: none;
}
.banner-carousel button.owl-dot:before {
  background-color: #231F20;
  border-radius: 50%;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
}
.banner-carousel .owl-dots {
  text-align: center;
}
.banner-carousel .owl-nav button.owl-prev,
.banner-carousel .owl-nav button.owl-next {
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 129px;
}
@media (min-width: 768px) {
  .banner-carousel .owl-nav button.owl-prev,
  .banner-carousel .owl-nav button.owl-next {
    top: 50%;
    transform: translateY(-50%);
  }
}
.banner-carousel .owl-nav button.owl-prev {
  left: 15px;
}
.banner-carousel .owl-nav button.owl-next {
  right: 15px;
}
.banner-carousel .owl-nav svg {
  width: 12px;
}
.banner-carousel .site-banner {
  background-position: center 100%;
  background-size: calc(100% - 40px) auto;
  align-items: flex-start;
  padding-top: 40px;
  text-align: center;
  min-height: 490px;
}
@media (min-width: 480px) {
  .banner-carousel .site-banner {
    min-height: 610px;
  }
}
@media (min-width: 600px) {
  .banner-carousel .site-banner {
    min-height: 740px;
  }
}
@media (min-width: 768px) {
  .banner-carousel .site-banner {
    background-position: center 142px;
    background-size: calc(100% - 148px) auto;
    padding-top: 59px;
    min-height: 700px;
  }
}
.banner-carousel .site-banner:after {
  background-color: #F6F5F3;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 200px);
}
.banner-carousel .site-banner__body {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: calc(100% - 40px);
}
.banner-carousel .site-banner__body:before {
  background-color: #fff;
  opacity: 1;
}
.banner-carousel .site-banner__button {
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 50px;
}
@media (min-width: 991px) {
  .banner-carousel .site-banner__prefix {
    color: #231F20;
    font-size: 1.375rem;
  }
}
.banner-carousel .site-banner__text,
.banner-carousel .site-banner__video {
  display: none;
}
.banner-carousel .site-banner__title {
  font-size: 1.375rem;
}
@media (min-width: 991px) {
  .banner-carousel .site-banner__title {
    font-size: 2.1875rem;
  }
}
.site-banner--contenu-descriptif {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 0;
}
.site-banner--contenu-descriptif .site-banner__body {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: none;
}
@media (min-width: 1024px) {
  .site-banner--contenu-descriptif .site-banner__body {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}
.site-banner--contenu-descriptif .site-banner__body:before {
  background-color: #F6F5F3;
}
.site-banner--contenu-descriptif .site-banner__button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .site-banner--contenu-descriptif .site-banner__title {
    font-size: 2.8125rem;
    margin-bottom: 25px;
  }
}
.banner-group {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .banner-group {
    display: flex;
  }
}
.banner-group .site-banner {
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .banner-group .site-banner {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .banner-group .site-banner:last-child {
    margin-right: 20px;
  }
}
.banner-group .site-banner:nth-child(n+4) {
  display: none;
}
.banner-group .site-banner:last-child {
  margin-bottom: 0;
}
.banner-group .site-banner:only-child {
  margin-left: 0;
  margin-right: 0;
}
.banner-group .site-banner:not(.site-banner--cta) .site-banner__button {
  background-color: transparent;
  border: 0;
  color: #4F4C4D;
  padding: 0;
  min-width: 0;
  min-height: 0;
}
.banner-group .site-banner .container {
  padding-left: 20px;
  padding-right: 20px;
}
.banner-group .site-banner__delimiter {
  display: none;
}
.banner-group .site-banner__prefix {
  font-size: 1.0625rem;
  margin-bottom: 5px;
}
.banner-group .site-banner__text,
.banner-group .site-banner__title {
  margin-bottom: 20px;
}
.banner-group .site-banner__title {
  font-size: 1.75rem;
}
.banner-group .site-banner__video {
  display: none;
}
.banner-group .site-banner--cta .site-banner__body {
  min-height: 0;
}
.banner-group .site-banner--cta .site-banner__button {
  background-color: transparent;
  border-color: #4F4C4D;
  color: #4F4C4D;
}
.banner-group .site-banner--cta .site-banner__button:hover {
  background-color: #4F4C4D;
  color: #fff;
  opacity: 1;
}
@media (min-width: 768px) {
  .banner-group .site-banner--overlap,
  .banner-group .site-banner--overlap.site-banner--overlay {
    background-position: 150px center;
  }
}
@media (min-width: 1400px) {
  .banner-group .site-banner--overlap,
  .banner-group .site-banner--overlap.site-banner--overlay {
    background-position: 200px center;
  }
}
@media (min-width: 1600px) {
  .banner-group .site-banner--overlap,
  .banner-group .site-banner--overlap.site-banner--overlay {
    background-position: 250px center;
  }
}
@media (min-width: 1900px) {
  .banner-group .site-banner--overlap,
  .banner-group .site-banner--overlap.site-banner--overlay {
    background-position: 300px center;
  }
}
@media (min-width: 768px) {
  .banner-group .site-banner--overlap.site-banner--content-position-center {
    background-position: center;
  }
}
@media (min-width: 768px) {
  .banner-group .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 150px) center;
  }
}
@media (min-width: 1400px) {
  .banner-group .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 200px) center;
  }
}
@media (min-width: 1600px) {
  .banner-group .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 250px) center;
  }
}
@media (min-width: 1900px) {
  .banner-group .site-banner--overlap.site-banner--content-position-right {
    background-position: calc(100% - 300px) center;
  }
}
.banner-group .site-banner--overlay .site-banner__button {
  background-color: transparent;
  color: #4F4C4D;
}
.banner-group .site-banner--overlay .site-banner__button:hover {
  background-color: transparent;
  color: #4F4C4D;
}
@media (min-width: 768px) {
  .banner-group .site-banner--solid-background.site-banner--content-position-center {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.banner-group .site-banner:first-child:nth-last-child(3),
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
  background-position: center 0;
  background-size: 100% auto;
  color: #4F4C4D;
  align-items: stretch;
  font-size: 0.8125rem;
  padding-top: 150px;
  text-align: left;
  min-height: 0;
}
@media (min-width: 480px) {
  .banner-group .site-banner:first-child:nth-last-child(3),
  .banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
    padding-top: 220px;
  }
}
@media (min-width: 600px) {
  .banner-group .site-banner:first-child:nth-last-child(3),
  .banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
    padding-top: 290px;
  }
}
@media (min-width: 768px) {
  .banner-group .site-banner:first-child:nth-last-child(3),
  .banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
    background-size: auto 250px;
    padding-top: 200px;
  }
}
@media (min-width: 1400px) {
  .banner-group .site-banner:first-child:nth-last-child(3),
  .banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
    background-size: auto 300px;
    padding-top: 250px;
  }
}
@media (min-width: 1600px) {
  .banner-group .site-banner:first-child:nth-last-child(3),
  .banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner {
    background-size: auto 420px;
    padding-top: 370px;
  }
}
.banner-group .site-banner:first-child:nth-last-child(3):before,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner:before,
.banner-group .site-banner:first-child:nth-last-child(3):after,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner:after {
  display: none;
}
.banner-group .site-banner:first-child:nth-last-child(3):not(.site-banner--cta) .site-banner__button,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner:not(.site-banner--cta) .site-banner__button {
  display: block;
  text-align: right;
}
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__body,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: 100%;
}
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__body:before,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__body:before {
  background-color: #F6F5F3;
  opacity: 1;
}
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__delimiter,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__delimiter,
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__prefix,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__prefix {
  display: none;
}
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__text,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__text {
  margin-bottom: 5px;
}
.banner-group .site-banner:first-child:nth-last-child(3) .site-banner__title,
.banner-group .site-banner:first-child:nth-last-child(3) ~ .site-banner .site-banner__title {
  color: #000;
  font-size: 1.75rem;
  margin-bottom: 5px;
}
.banner-group .site-banner--cta:first-child:nth-last-child(2),
.banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
  background-position: center 0;
  background-size: 100% auto;
  color: #4F4C4D;
  align-items: stretch;
  font-size: 0.8125rem;
  padding-top: 150px;
  text-align: left;
  min-height: 0;
}
@media (min-width: 480px) {
  .banner-group .site-banner--cta:first-child:nth-last-child(2),
  .banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
    padding-top: 220px;
  }
}
@media (min-width: 600px) {
  .banner-group .site-banner--cta:first-child:nth-last-child(2),
  .banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
    padding-top: 290px;
  }
}
@media (min-width: 768px) {
  .banner-group .site-banner--cta:first-child:nth-last-child(2),
  .banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
    padding-top: 170px;
  }
}
@media (min-width: 1200px) {
  .banner-group .site-banner--cta:first-child:nth-last-child(2),
  .banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
    padding-top: 215px;
  }
}
@media (min-width: 1400px) {
  .banner-group .site-banner--cta:first-child:nth-last-child(2),
  .banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta {
    padding-top: 270px;
  }
}
.banner-group .site-banner--cta:first-child:nth-last-child(2):before,
.banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta:before,
.banner-group .site-banner--cta:first-child:nth-last-child(2):after,
.banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta:after {
  display: none;
}
.banner-group .site-banner--cta:first-child:nth-last-child(2) .site-banner__body,
.banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta .site-banner__body {
  justify-content: space-between;
  max-width: none;
  height: 100%;
}
.banner-group .site-banner--cta:first-child:nth-last-child(2) .site-banner__body:before,
.banner-group .site-banner--cta:first-child:nth-last-child(2) ~ .site-banner--cta .site-banner__body:before {
  background-color: #F6F5F3;
}
.h-arrow-down {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMTI3ZWMyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiB2aWV3Qm94PSIwIDAgMjA0OCAyMDQ4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNTIzIDg2NHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTQ2Ni00NjZxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDM5MyAzOTMgMzkzLTM5M3ExMC0xMCAyMy0xMHQyMyAxMGw1MCA1MHExMCAxMCAxMCAyM3oiLz48L3N2Zz4=");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;
  content: '';
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-2px);
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
.h-background-1 {
  background-color: #D9EFEC;
}
.h-display-block {
  display: block;
}
.h-field-input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1rem;
  padding: 10px 20px;
  width: 100%;
  min-height: 40px;
}
.h-flex {
  display: flex;
}
.h-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-font-heading {
  color: #231F20;
  font-family: 'Abril Fatface', serif;
  font-size: 2.1875rem;
  font-weight: 700;
  letter-spacing: 3px;
}
.h-font-size-16 {
  font-size: 1rem;
}
.h-font-size-17 {
  font-size: 1.0625rem;
}
.h-font-size-18 {
  font-size: 1.125rem;
}
.h-font-size-22 {
  font-size: 1.375rem;
}
.h-font-size-45 {
  font-size: 2.8125rem;
}
.h-font-size-65 {
  font-size: 4.0625rem;
}
.h-font-weight {
  font-weight: 700;
}
.h-margin-bottom-20 {
  margin-bottom: 20px;
}
.h-margin-bottom-50 {
  margin-bottom: 50px;
}
.h-margin-bottom-100 {
  margin-bottom: 100px;
}
.h-margin-top-20 {
  margin-top: 20px;
}
.h-margin-top-100 {
  margin-top: 100px;
}
.h-overlay {
  position: relative;
}
.h-overlay::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.h-overlay > * {
  position: relative;
  z-index: 1;
}
.h-padding-bottom-60 {
  padding-bottom: 60px;
}
.h-text-center {
  text-align: center;
}
.h-text-left {
  text-align: left;
}
.h-text-right {
  text-align: right;
}
.sr-only,
.visually-hidden,
.visuallyhidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-only.focusable:active,
.visually-hidden.focusable:active,
.visuallyhidden.focusable:active,
.sr-only.focusable:focus,
.visually-hidden.focusable:focus,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.sr-only-undo,
.visually-hidden-undo,
.visuallyhidden-undo {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  margin: 0;
  padding: 0;
  position: static;
  white-space: normal;
  width: auto;
  height: auto;
  overflow: visible;
}
.sr-only-undo.focusable:active,
.visually-hidden-undo.focusable:active,
.visuallyhidden-undo.focusable:active,
.sr-only-undo.focusable:focus,
.visually-hidden-undo.focusable:focus,
.visuallyhidden-undo.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
