.h-triangle-top-right {
  border-color: transparent $color-footer-background transparent transparent;
  border-style: solid;
  border-width: 0 82px 82px 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}
