.button {
  background-color: $color-1;
  color: $color-2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-default;
  font-size: calc(14 / #{$font-size-unitless} * 1rem);
  font-weight: 600;
  line-height: 1.2;
  padding: 10px 20px;
  text-transform: uppercase;
  transition-duration: .3s;
  &:hover {
    background-color: $color-5;
  }
}

.button--ghost {
  background-image: none;
  border: 2px solid #fff;
}

.button--white {
  background-color: #fff;
  background-image: none;
  color: $color-1;
}
