$breakpoint-vertical-chart-label: 600px;

[data-chart-type="vertical"] {
  --bar-width: 20px;
  --label-font-size: .75em;
  --label-width: 100px;

  @media (min-width: $breakpoint-tablet) {
    --bar-width: 65px;
  }

  height: auto;

  // @for $i from 1 through 100 {
  //   $value: ($i * 1%);

  //   [data-chart-value="#{$i}"] {
  //     height: $value;
  //   }
  // }

  .chart-data {
    --data-chart-value: 0;
    width: var(--bar-width);
    height: calc(var(--data-chart-value) * 1%);
  }

  .chart-data-label,
  .chart-data-value {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .chart-data-label {
    font-size: var(--label-font-size);
    top: calc(100% + 20px);
    text-align: center;
    width: var(--label-width);

    span {
      display: block;
      @media (min-width: $breakpoint-vertical-chart-label) {
        display: none;
      }

      + span {
        display: none;
        @media (min-width: $breakpoint-vertical-chart-label) {
          display: block;
        }
      }
    }
  }

  .chart-data-value {
    font-weight: 900;
    bottom: calc(100% + 10px);
  }

  .chart-graphic {
    height: 300px;
  }

  .chart-vertical-labels-mobile {
    --chart-vertical-labels-width: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;

    @media (min-width: $breakpoint-vertical-chart-label) {
      display: none;
    }
  }

  .chart-vertical-labels-mobile__column,
  .chart-vertical-labels-mobile__label {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1em;
  }

  .chart-vertical-labels-mobile__column {
    width: var(--chart-vertical-labels-width);
  }

  .chart-vertical-labels-mobile__label {
    width: calc(100% - var(--chart-vertical-labels-width));
  }
}
