[data-chart-value] {
  background-color: #ddd;
  overflow: visible;
  width: 100px;
}

.chart-box {
  margin-bottom: 200px;
  position: relative;
  width: 100%;
  height: 500px;
}

.chart-data {
  position: relative;
}

.chart-data-value {
  white-space: nowrap;
}

.chart-graphic {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  height: 100%;

  // Axes
  &:before,
  &:after {
    background-color: #aaa;
    content: '';
    display: block;
    position: absolute;
  }

  // Y-axis
  &:before {
    bottom: 0;
    left: 20px;
    width: 1px;
    height: 100%;
  }

  // X-axis
  &:after {
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 1px;
  }
}
