[data-chart-type="vertical"] {
  --label-font-size: .75em;
  --label-width: 100px;

  @for $i from 1 through 100 {
    $value: ($i * 1%);

    [data-chart-value="#{$i}"] {
      height: $value;
    }
  }

  .chart-data-label,
  .chart-data-value {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .chart-data-label {
    font-size: var(--label-font-size);
    top: calc(100% + 20px);
    text-align: center;
    width: var(--label-width);
  }

  .chart-data-value {
    font-weight: 900;
    bottom: calc(100% + 10px);
  }
}
