[data-chart-type="pie"] {
  --pie-size: 500px;

  height: var(--pie-size);

  .chart-graphic {
    // 54,21,11,11,3
    background: conic-gradient(rgb(229,229,299) 54%, rgb(211,53,107) 0 75%, rgb(51,51,51) 0 86%, rgb(118,118,118) 0 97%, rgb(204,156,164) 0);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: var(--pie-size);
    height: var(--pie-size);

    &:before,
    &:after {
      display: none;
    }
  }
}
