.sr-only,
.visually-hidden,
.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0); // This is getting deprecated. Only for old browsers https://caniuse.com/#feat=mdn-css_properties_clip
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px); // This is new and browser support is in the works https://caniuse.com/#feat=css-clip-path
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px); // This is new and browser support is in the works https://caniuse.com/#feat=css-clip-path
    margin: -1px;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.sr-only-undo,
.visually-hidden-undo,
.visuallyhidden-undo {
    clip: auto; // This is getting deprecated. Only for old browsers https://caniuse.com/#feat=mdn-css_properties_clip
    -webkit-clip-path: none; // This is new and browser support is in the works https://caniuse.com/#feat=css-clip-path
    clip-path: none; // This is new and browser support is in the works https://caniuse.com/#feat=css-clip-path
    margin: 0;
    padding: 0;
    position: static;
    white-space: normal;
    width: auto;
    height: auto;
    overflow: visible;
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
